<h1>Listing pages</h1>

<table>
  <tr>
    <th>Title</th>
    <th>host</th>
    <th></th>
  </tr>

<% @pages.each do |page| %>
  <tr>
    <td><%= link_to page.title, page.url %></td>
    <td><%= page.host %></td>
    <td><%= link_to 'remove', page, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

