<h1>Listing pages</h1>

<table>
<% @grouped_pages = @pages.group_by{|page| page.type} %>
<% @grouped_pages.each do |type, pages| %>
  <% pages.each do |page| %>
    <tr>
      <td><%= link_to page.title, page.url %></td>
      <td><%= page.host %></td>
      <td><%= link_to 'remove', page, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
<% end %>
</table>

<br />

