<h1>Listing pages</h1>
<% @grouped_pages = @pages.group_by{|page| page.type} %>
<% @grouped_pages.each do |type, pages| %>
  <div class="pagetype">
  <% if type == "" then type = "WebPage" end %>
  <h2><%= type %></h2>
  <% pages.each do |page| %>
    <div id="pages_area">
      <div id="page_container">
        <div id="page_eyecatch">
          <div id="page_title"><%= link_to page.title, page.url %></div>
          <div id="page_host"><%= page.host %></div>
        </div>
        <div id="page_remove"><%= button_to 'remove', page, confirm: 'Are you sure?', method: :delete %></div>
      </div>
    </div>
  <% end %>
  </div>
<% end %>

