<h1 id="pages">Listing all pages</h1>
<% @workshop_pages = @pages.group_by{|workshop| workshop.to_param} %>
<% @workshop_pages.each do |workshop, workshop_pages| %>
  <% @grouped_pages = workshop_pages.group_by{|page| page.type} %>
  <div id="workshop">
    <div id="workshop_title">Workshop</div>
    <% @grouped_pages.each do |type, pages| %>
    <div id="type">
      <% if type == "" then type = "WebPage" end %>
      <div id="type_title"><%= type %></div>
      <% pages.each do |page| %>
        <div id="pages_area">
          <div id="page_container">
            <div id="page_eyecatch">
              <div id="page_title"><%= link_to page.title, page.url %></div>
              <div id="page_host"><%= page.host %></div>
            </div>
            <div id="page_remove"><%= button_to 'remove', page, confirm: 'Are you sure?', method: :delete %></div>
          </div>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
<% end %>

