// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#page_host { 
font-size: 10px; 
margin-left: 3px;
color: gray;
} 

#pages_area {
  width: 80%;
}

#page_container {
overflow: hidden;
margin: 5px;
background-color: lightYellow;
} 

#page_eyecatch {
width: 90%;
float: left;
}

#page_remove {
width: 10%;
float: right;
}

.pagetype {
margin-top: 10px;
}

#page_title {
margin-left: 3px;
}

.button_to {
  margin-top: 7px;
  margin-left: 5px;
}

#workshop {
margin-top: 8px;
}

#type {
margin-top: 3px;
margin-left: 10px;
}

#workshop_title {
font-family: 'Trebuchet MS', Verdana, Arial, sans-serif;
color: #4C9E4E;
padding: 2px 0;
font-size: 1.5em;
}

#type_title {
font-family: 'Trebuchet MS', Verdana, Arial, sans-serif;
color: #4C9E4E;
padding: 2px 0;
font-size: 1.0em;
}
