/**main styles**/
* { margin: 0; padding: 0; }

body {
  font-size: 0.9em;
  line-height: 1.5em;
  border-top: 3px #4C9E4E solid;
  background: url(back.gif) no-repeat top center;
  font-family: Arial, sans-serif; color: #333;

}
p, ul, ol { font-size: 0.9em; line-height: 2em; padding-top: 3px; }
h1, h2, h3 { font-family: 'Trebuchet MS', Verdana, Arial, sans-serif; color: #4C9E4E; padding: 2px 0; }
h1 { font-size: 2.5em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.3em; }
small { font-size: 70%; }
ol, ul { margin-left: 35px; }
ul { list-style: circle; }
a:focus { color: #fff; background: #CEE7CF; border:0; } 

/**container around all content**/
#container {  width: 880px; margin: 0 auto;}

/**main navigation**/

/**header **/
#header {
  padding: 10px 10px 9px 10px;
  h1 {
    padding-bottom: 5px;
    color: #fff;
  }
  p {
    font-family: 'Trebuchet MS', Verdana, Arial, sans-serif;
    font-size: 1em; color: #fff;
  }

  #nav {
    float:right;
    font-family: 'Trebuchet MS', Verdana, Arial, sans-serif;
    font-size: 1.1em;
    text-align: center;
    font-weight: bold;
    a {
      display:block;
      text-decoration: none;
      color: #4C9E4E;
      padding: 10px;
      :hover, :focus{
        color: #fff;
        text-decoration: underline;
      }
    }
    ul {
      padding:0;
      list-style:none;
      display: block;
      li {
        float: left;
        margin: 0;
        width: 80px;
        background: #fff;
        :hover {
          display: block;
          background: #CEE7CF;
          a {
            color: #000;
          }
        }
        .active{
          a {
            background: #CEE7CF;
            color: #000;
          }
        }
      }
    }
  }
}

#content {
  padding: 20px 10px;
  a {
    text-decoration: none;
    border-bottom: solid 1px #4C9E4E;
    color: #4C9E4E;
    :hover, :focus {
      text-decoration: none;
      border-bottom: solid 1px #fff;
      color: #fff;
      background: #4C9E4E;
    }
  }
  h3 {  padding-top: 15px;}
}

#bottom {
  background: #CEE7CF;
  padding: 10px 10px 20px 10px;
  h3 {
    color: #333;
  }
}

#footer {
  clear: both;
  font-size: 0.8em;
  text-align: center;
  padding: 10px;
  a {
    text-decoration: none;
    border-bottom: solid 1px #4C9E4E;
    color: #4C9E4E;
    :hover, :focus {
      text-decoration: none;
      border-bottom: solid 1px #fff;
      color: #fff; background: #4C9E4E;
    }
  }
}

.rightcontainer {
  width: 48%;
  float: right;
}
.leftcontainer {
  width: 48%;
}
