<h2><%= @workshop.name %></h2>
<div id="logs">
<% @logs.each do |log| %>
  <% workshop = log.workshop %>
  <div class="log">
    <%= image_tag log.user_icon_url %>
    <p><%= log.content %></p>
  </div>
<% end %>
</div>
