<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @log.content %>
</p>


<%= link_to 'Edit', edit_workshop_log_path(@workshop, @log) %> |
<%= link_to 'Back', workshop_logs_path(@workshop) %>
